@page
@model Marvin.IDP.Pages.Users.ActivationCodeSent.IndexModel
@{
    <h3 class="panel-title">User Registration</h3>
    <h3>You're successfully registered. Check your e-mail to activate your account.</h3>
}